.env
.venv
./.venv
guild_configs.json
start_lizard.bat
start_lizard_silent.bat
start_lizard_hidden.vbs
*.sqlite3
__pycache__
*/__pycache__
build/
dist/
*.spec
*.bat
*.vbs
LizardBot_v1.0/
LizardBot_v1.0.zip
*.disabled